.container {
  max-width: 420;
  margin: "0 auto";
  position: relative;
}

.input {
  padding: 10;
  border-radius: 8;
  background: #121114;
  color: #eaeaea;
  border: 1px solid #3d3c3c;
  padding-left: 14px;
}
.ul {
  margin-top: 6;
  padding: 0;
  border-radius: 8;
  background: #121114;
}
.button {
  text-align: left;
  background: transparent;
  border: none;
  padding: 8;
  cursor: pointer;
  color: #eaeaea;
}
